<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Endpoint" value="https://cosmosgremlinsridhar.documents.azure.com:443/"/>
    <add key="AuthKey" value="l2jbleMadg1DUAfLdDOequwgSDkbc6n8nGLaYkabZU6rPzXM9COtVA42b3ff7ahZYQrJPRXdN9llOzi0UAmErQ=="/>
  </appSettings>
</configuration>